/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center; /* Center align text */
}

h1, h2 {
    color: #6b1868;
    text-align: center; /* Center align headings */
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin-bottom: 20px;
    text-align: left; /* Left align form text */
}

.centered-form {
    margin: 0 auto; /* Center the form */
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #6b1868;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4e124e;
}

.success-message {
    color: green;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

#uploadSection, #additionalInfoSection {
    display: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

.file-list-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.file-list-item span {
    display: inline-block;
    white-space: nowrap; /* Prevent line breaks */
}

/* Flexbox layout for upload and additional info sections */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#uploadSection, #additionalInfoSection {
    width: 100%;
    max-width: 800px; /* Increase max-width for wider display */
    margin-top: 20px;
}
